<div class="container">
  <div class="card">
    <div class="img-box">
      <img src="https://images.pexels.com/photos/1699030/pexels-photo-1699030.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Moon" title="Moon">
    </div>

    <div class="details">
      <h2>
        Lorem Ispum Dolar
      </h2>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur natus perspiciatis laudantium quidem autem porro molestiae repellendus est quisquam dolore blanditiis numquam, corrupti neque soluta dolores! Voluptate doloremque commodi officia.
      </p>
    </div>
  </div>

  <div class="card">
    <div class="img-box">
      <img src="https://images.pexels.com/photos/1008000/pexels-photo-1008000.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Landscape" title="Landscape">
    </div>

    <div class="details">
      <h2>
        Lorem Ispum Dolar
      </h2>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur natus perspiciatis laudantium quidem autem porro molestiae repellendus est quisquam dolore blanditiis numquam, corrupti neque soluta dolores! Voluptate doloremque commodi officia.
      </p>
    </div>
  </div>

  <div class="card">
    <div class="img-box">
      <img src="https://images.pexels.com/photos/1054218/pexels-photo-1054218.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Mountain" title="Mountain">
    </div>

    <div class="details">
      <h2>
        Lorem Ispum Dolar
      </h2>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur natus perspiciatis laudantium quidem autem porro molestiae repellendus est quisquam dolore blanditiis numquam, corrupti neque soluta dolores! Voluptate doloremque commodi officia.
      </p>
    </div>
  </div>

  <div class="card">
    <div class="img-box">
      <img src="https://images.pexels.com/photos/1381242/pexels-photo-1381242.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Camera" title="Camera">
    </div>

    <div class="details">
      <h2>
        Lorem Ispum Dolar
      </h2>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur natus perspiciatis laudantium quidem autem porro molestiae repellendus est quisquam dolore blanditiis numquam, corrupti neque soluta dolores! Voluptate doloremque commodi officia.
      </p>
    </div>
  </div>

  <div class="card">
    <div class="img-box">
      <img src="https://images.pexels.com/photos/1054198/pexels-photo-1054198.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Landscape" title="Landscape">
    </div>

    <div class="details">
      <h2>
        Lorem Ispum Dolar
      </h2>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur natus perspiciatis laudantium quidem autem porro molestiae repellendus est quisquam dolore blanditiis numquam, corrupti neque soluta dolores! Voluptate doloremque commodi officia.
      </p>
    </div>
  </div>

  <div class="card">
    <div class="img-box">
      <img src="https://images.pexels.com/photos/724644/pexels-photo-724644.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Pictures" title="Pictures">
    </div>

    <div class="details">
      <h2>
        Lorem Ispum Dolar
      </h2>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur natus perspiciatis laudantium quidem autem porro molestiae repellendus est quisquam dolore blanditiis numquam, corrupti neque soluta dolores! Voluptate doloremque commodi officia.
      </p>
    </div>
  </div>
</div>
