<div class="container">
  <div class="card">
    <img src="https://upload.wikimedia.org/wikipedia/commons/d/d6/Cat_plotting_something_evil%21.jpg">
    <div class="card__head">Plotting Cat</div>
  </div>
  <div class="card">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d8/False_alarm_-a.jpg/1280px-False_alarm_-a.jpg">
    <div class="card__head">Angry Cat</div>
  </div>
  <div class="card">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Neugierige-Katze.JPG/1280px-Neugierige-Katze.JPG">
    <div class="card__head">Curious Cat</div>
  </div>
  <div class="card">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/75/Al_acecho_%289272124788%29.jpg/1280px-Al_acecho_%289272124788%29.jpg">
    <div class="card__head">Prowling Cat</div>
  </div>
  <div class="card">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/de/Mimi%26Tigsi.jpg/1280px-Mimi%26Tigsi.jpg">
    <div class="card__head">Sleepy Cat</div>
  </div>

</div>


<!--sfkjdkfjasas-->
<div class="container1">
  <!-- code here -->
  <div class="card">
    <div class="card-img skeleton">
      <!-- waiting for img to load from javascript -->
    </div>
    <div class="card-body">
      <h2 class="card-title skeleton">
        <!-- wating for title to load from javascript -->
      </h2>
      <p class="card-intro skeleton">
        <!-- waiting for intro to load from Javascript -->
      </p>
    </div>
  </div>
  <div class="card">
    <div class="card-img">
      <img src="https://assets.codepen.io/285131/uslmOwQpdRRUwr6AmBP6JdzeHjS.jpg" />
    </div>
    <div class="card-body">
      <h2 class="card-title">
        Drive (2011)
      </h2>
      <p class="card-intro">
        Driver is a skilled Hollywood stuntman who moonlights as a getaway driv...
      </p>
    </div>
  </div>
  <div class="card">
    <div class="card-img">
      <img src="https://assets.codepen.io/285131/uslmOwQpdRRUwr6AmBP6JdzeHjS.jpg" />
    </div>
    <div class="card-body">
      <h2 class="card-title">
        Drive (2011)
      </h2>
      <p class="card-intro">
        Driver is a skilled Hollywood stuntman who moonlights as a getaway driv...
      </p>
    </div>
  </div>
  <div class="card">
    <div class="card-img">
      <img src="https://assets.codepen.io/285131/uslmOwQpdRRUwr6AmBP6JdzeHjS.jpg" />
    </div>
    <div class="card-body">
      <h2 class="card-title">
        Drive (2011)
      </h2>
      <p class="card-intro">
        Driver is a skilled Hollywood stuntman who moonlights as a getaway driv...
      </p>
    </div>
  </div>
  <div class="card">
    <div class="card-img">
      <img src="https://assets.codepen.io/285131/uslmOwQpdRRUwr6AmBP6JdzeHjS.jpg" />
    </div>
    <div class="card-body">
      <h2 class="card-title">
        Drive (2011)
      </h2>
      <p class="card-intro">
        Driver is a skilled Hollywood stuntman who moonlights as a getaway driv...
      </p>
    </div>
  </div>
</div>
