
<!--<div class="row ">-->
<!--  <div class="col-md-2"></div>-->
<!--  <div class="col-md-8">-->
<!--    <nav class="navbar navbar-expand-lg">-->
<!--      <div class="container-fluid">-->
<!--        <a class="navbar-brand text-white" href="#"><img src="../../assets/KAMI.png" alt="logo" style="width: 30%"></a>-->
<!--        <div class="collapse navbar-collapse" id="navbarScroll">-->
<!--          <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="&#45;&#45;bs-scroll-height: 100px;">-->

<!--            &lt;!&ndash;                        Customer button&ndash;&gt;-->
<!--            <li class="nav-item">-->
<!--              <a class="nav-link text-white" routerLink="/customer">Trang chủ</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--              <a class="nav-link text-white" routerLink="/customer">Đặt lịch</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--              <a class="nav-link text-white" routerLink="/customer">Mua hàng</a>-->
<!--            </li>-->

<!--            &lt;!&ndash;                        Service button&ndash;&gt;-->
<!--            <li class="nav-item dropdown">-->
<!--              <a class="nav-link text-white" routerLink="/facility">Dịch vụ</a>-->
<!--            </li>-->

<!--            &lt;!&ndash;                        Contrac button&ndash;&gt;-->
<!--            <li class="nav-item">-->
<!--              <a class="nav-link text-white" routerLink="/contract">Đăng nhập</a>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </div>-->
<!--      </div>-->
<!--    </nav>-->
<!--  </div>-->
<!--  <div class="col-md-2"></div>-->
<!--</div>-->

<header>
  <div class="wrapper">
    <h1 class="logo">Resto</h1>
    <nav>
      <h2>Main Navigation</h2>
      <ul>
        <li><a href="#">Our Story</a></li>
        <li><a href="#">Menu</a></li>
        <li><a href="#">Reservations</a></li>
        <li><a href="#">News</a></li>
        <li><a href="#">Reviews</a></li>
      </ul>
    </nav>
  </div>
</header>
